<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- logger:发起方fullName message:日志消息 basedir:项目根路径 shortdate:年月日时分秒 -->
	<targets>
		<target name="file" xsi:type="File"
            layout="【${level}】${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}-NLog.txt"
            keepFileOpen="true"
            encoding="utf-8" />
		<target name="jsonfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}-${level}-NLog.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}"/>
				<attribute name="level" layout="${level}"/>
			</layout>
		</target>
		<target name="console" xsi:type="Console"
            layout="【${level}】${longdate} ${logger} ${message}${exception:format=ToString}"/>
	</targets>

	<!-- level:Trace、Debug、Info、Warn、Error、Fatal -->
	<!-- name为fullName的筛选 final="true"表示如果符合这条规则，则不需要再往后匹配规则 writeTo对应target的name -->
	<rules>
		<logger name="SY.Windows.*" minlevel="Debug" writeTo="jsonfile" />
		<logger name="SY.Windows.Demo.*" minlevel="Debug" maxlevel="Fatal" writeTo="file" final="true"/>
		<logger name="SY.Windows.Test.*" minlevel="Debug" writeTo="console"/>
	</rules>
</nlog>