<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- logger:发起方fullName message:日志消息 basedir:项目根路径 shortdate:年月日时分秒 -->
	<targets>
		<target name="file" xsi:type="File"
            layout="【${level}】${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}-NLog.txt"
            keepFileOpen="true"
            encoding="utf-8" />
		<target name="jsonfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}-${level}-NLog.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}"/>
				<attribute name="level" layout="${level}"/>
			</layout>
		</target>
		<target name="console" xsi:type="Console"
            layout="【${level}】${longdate} ${logger} ${message}${exception:format=ToString}"/>
		<!--通过数据库记录日志 配置
    dbProvider请选择mysql或是sqlserver，同时注意连接字符串,需要安装对应的sql数据提供程序
    -->
		<!-- 连接 sql server数据库 connectionString 连接字符串 commandText执行添加的sql语句 -->
		<target name="database" xsi:type="Database"
		dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
	 connectionString="server=127.0.0.1;port=3306;user=Jean;password=123456;database=JeanTest3"
		  commandText="insert into nlog_log3 (MachineName, Logged, Level, Message,Logger, Callsite, Exception) values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);">

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<!-- level:Trace、Debug、Info、Warn、Error、Fatal -->
	<!-- name为fullName的筛选 final="true"表示如果符合这条规则，则不需要再往后匹配规则 writeTo对应target的name -->
	<rules>
		<!--<logger name="Nlog.AspNetCore.*" minlevel="Debug" writeTo="jsonfile" />-->
		<logger name="Nlog.AspNetCore.*" minlevel="Debug" writeTo="database" />
		<!--<logger name="SY.Windows.*" minlevel="Debug" writeTo="jsonfile" />
		<logger name="SY.Windows.Demo.*" minlevel="Debug" maxlevel="Fatal" writeTo="file" final="true"/>
		<logger name="SY.Windows.Test.*" minlevel="Debug" writeTo="console"/>-->
	</rules>
</nlog>